* {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body{
    background-color: #27a838;
}

main{
    background-color: floralwhite;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

h1{
    font-size: 1.5em;
    color: blue;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

img.lado{
    float: right;
}

a:hover{
    text-decoration: underline;
    color: burlywood;
}